body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: white;
  padding: 0 .5em;
}
.footer {
  background-color: white;
  padding: 0 .5em;
}
.main {
  background-color: #fff8d8;
  padding: 1em;
}
h1 {
  color: lavender;
  font-size: 150%;
  margin: 0 0;
  padding: .5em 0;
}
div {
  padding: 0vw 0vh;
  margin: 0vw 0vh;
}
.m1{
  background:lightyellow;
  padding:10px;
  margin:10px;
}
.m2{
  background:lightcyan;
  padding:10px;
  margin:10px;
}
.m3{
  background:lavenderblush;
  padding:10px;
  margin:10px;
}
 .h21{
      border-bottom:dotted;
      color:pink;
}
 .h31{
      border-bottom:dotted;
      color:greenyellow;
}
 .midasi{
      background: linear-gradient(transparent 50%, #a8eaff 50%);
}
 .namae{
      position:relative;
      padding: 0.3em;
}
 .namae:after{
     content:'';
     position:absolute;
     left:0;
     bottom:0;
     width:100%;
     height:7px;
     background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
}
 a{
     color:green;
     text-decoretion:none;
}
 a:hover{
 color:pink; 
}
 .body{
padding-left: 20px
}
